<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/screen.css" >

  <!-- TypeKit -->
  <script type="text/javascript" src="//use.typekit.net/lrk6imc.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>