<nav class="pagenav" role="navigation">
	<h4>I'm a Page nav!</h4>
	<ul>
		<li><a href="#">Nav item</a></li>
		<li><a href="#">Nav item</a></li>
		<li><a href="#">Nav item</a></li>
		<li><a href="#">Nav item</a></li>
	</ul>
</nav>