<nav class="pagenav" role="navigation">
    <h2>I'm a Page nav!</h2>
    <ul>
        <li><a href="#">Nav item</a></li>
        <li><a href="#">Nav item</a></li>
        <li><a href="#">Nav item</a></li>
        <li><a href="#">Nav item</a></li>
    </ul>
</nav>
