html {
  margin: 0;
  padding: 0;
  border: 0;
}

.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

blockquote, q {
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

a img {
  border: none;
}

body {
  color: #333333;
  font-family: 'Helvetica Neue', HelveticaNeue, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

strong, b {
  color: false;
  font-weight: bold;
}

em, i {
  font-style: italic;
}

abbr, acronym {
  border-bottom: 1px dotted #999999;
}

sub, sup {
  font-size: 85%;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

span.caps {
  font-size: 95%;
}

h1, h2, h3, h4, h5, h6 {
  color: #333333;
  margin: 1em 0;
}

h1 {
  font-weight: bold;
  font-size: 200%;
  line-height: 0.942;
  margin: 0.75em 0;
}

h2 {
  font-weight: bold;
  font-size: 170%;
  line-height: 0.942;
}

h3 {
  font-weight: bold;
  font-size: 140%;
  line-height: 1.002;
  margin: 1.25em 0 0.5em;
}

h4 {
  font-weight: bold;
  font-size: 110%;
  line-height: 1.08;
  margin: 0.5em 0 0.5em;
}

h5 {
  font-style: italic;
  font-size: 110%;
  line-height: 1.2;
  margin: 0.65em 0;
}

h6 {
  font-weight: bold;
  margin-bottom: -0.75em;
}

p {
  margin: 1em 0;
}

ul, ol, dl {
  margin-top: 1em;
  margin-bottom: 1em;
}

ul, ol, dd {
  padding-left: 2.25em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

dt {
  margin-top: 1em;
}

dd {
  margin-bottom: 1em;
}

code, dfn, kbd, samp, tt {
  font-family: Inconsolata, Consolas, Courier New, monospace;
  font-size: 95%;
  color: #666666;
}

pre {
  background: #666666;
  color: #cccccc;
  font-family: Inconsolata, Consolas, Courier New, monospace;
  font-size: 95%;
  line-height: 1.2;
  margin: 1.5em 0;
  padding: 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

a:link {
  color: red;
  text-decoration: underline;
}
a:visited {
  color: red;
}
a:hover, a:focus {
  color: red;
  text-decoration: none;
}
a:active {
  color: red;
  text-decoration: none;
}

body {
  font-family: adelle;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-family: adelle;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  margin: 0 0 26px;
}

h2 {
  font-family: adelle;
  font-size: 100%;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}

h3 {
  font-family: adelle;
  font-style: normal;
  font-weight: 700;
}

h4 {
  font-family: adelle;
  font-style: normal;
  font-weight: 700;
}

h5 {
  font-family: adelle;
  font-style: normal;
  font-weight: 400;
}

h6 {
  font-family: adelle;
  font-style: normal;
  font-weight: 400;
}

p {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-family: adelle;
  line-height: 25px;
}

nav.primary {
  font-style: normal;
  font-weight: 400;
  font-family: parisine-std-sombre;
  font-size: 29px;
}

aside {
  text-indent: 0px;
  font-weight: 100;
  font-family: adelle;
}

blockquote {
  margin-top: 25px;
  padding-left: 40px;
}
blockquote * {
  text-indent: 0px;
  font-style: italic;
  font-weight: 100;
  font-family: adelle;
}

.page {
  *zoom: 1;
  max-width: 34em;
  _width: 34em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  line-height: 1.4;
  margin-top: 1em;
}
.page:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 61em) {
  .page {
    max-width: 59em;
  }
}

@media (min-width: 61em) {
  .pagenav {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
  }

  .main {
    width: 83.05085%;
    float: right;
    margin-right: 0;
  }
  .main .content {
    width: 69.38776%;
    float: left;
    margin-right: 2.04082%;
  }
  .main .summary {
    width: 28.57143%;
    float: right;
    margin-right: 0;
  }
}
.panel {
  padding: 1em;
  overflow: hidden;
  *zoom: 1;
}

nav.primary {
  background: #000;
  padding: 1em;
  color: #fff;
}
nav.pagenav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  *zoom: 1;
}
nav.pagenav ul li {
  float: left;
  margin: 0;
  padding: 5px 5px 5px 0;
}

.content {
  margin: 0 0 2em;
}

.contentinfo {
  clear: both;
  margin: -1em;
  padding: 1em;
  background: #eee;
}
@media (min-width: 61em) {
  .contentinfo {
    margin: 0;
    padding-left: 16.94915%;
    padding-right: 25.42373%;
  }
}

.button {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0.7em 0.5em 0.7em 0;
  border-width: 1px;
  border-style: solid;
  font-family: "adelle";
  font-size: 100%;
  line-height: 130%;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  padding: 5px 10px 5px 7px;
  background-color: whitesmoke;
  border-color: #eeeeee #dedede #dedede #eeeeee;
  color: #565656;
  text-decoration: none;
}
.button img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  float: none;
}
.button:hover {
  background-color: #dff4ff;
  border-color: #d2f1ff #c2e1ef #c2e1ef #d2f1ff;
  color: #336699;
}
.button:active {
  background-color: #6299c5;
  border-color: #72a9d5 #6299c5 #6299c5 #72a9d5;
  color: white;
}
.button:link, .button:visited {
  background-color: whitesmoke;
  border-color: #eeeeee #dedede #dedede #eeeeee;
  color: #565656;
  text-decoration: none;
}
.button:hover, .button:focus {
  background-color: #d4d4d4;
  border-color: #c8c8c8;
  text-decoration: none;
}
.button:active {
  background-color: #bbbbbb;
  border-color: #a2a2a2;
  text-decoration: none;
}
.button.primary {
  background-color: #0a5cb9;
  color: #fff;
}
.button.primary:link, .button.primary:visited {
  color: #fff;
}
.button.primary:hover, .button.primary:focus {
  color: #fff;
  background-color: #0d74e9;
}
.button.primary:active {
  color: #fff;
  background-color: #358ef4;
}
.button.disabled, .button.disabled:hover, .button.disabled:active {
  background-color: #eee;
  color: #d4d4d4;
  border-color: #e1e1e1;
}
.button.start {
  float: right;
}

.pushbuttons .button {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0.5em;
}
.pushbuttons .button.selected {
  background-color: #d4d4d4;
  border-color: #c8c8c8;
}
.pushbuttons.favorite {
  float: right;
}
.pushbuttons.favorite .button {
  margin: 1em 0.5em 1em 0.5em;
}
.pushbuttons.favorite .button.selected {
  background-color: #FFFCD1;
}

.share-buttons {
  text-align: right;
  width: 15.25424%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
.share-buttons .panel {
  padding-right: 0;
}

.band {
  background: #eee;
  margin-bottom: 1em;
}

.banner {
  text-align: center;
  padding: 1em;
}

.hero-title {
  font-style: normal;
  font-weight: 400;
  font-family: atrament-web;
  font-size: 69px;
  line-height: 64px;
  margin: 0 0 39px;
}

.hero-desc {
  font-style: normal;
  font-weight: 400;
  font-family: adelle;
  font-size: 33px;
  line-height: 47px;
  margin: 0 0 20px;
}
